<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand" routerLinkActive="active">Labo Angular</a>
    </div>

    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/modules">Modules</a></li>
      <li routerLinkActive="active"><a routerLink="/list">List</a></li>
      <li routerLinkActive="active"><a routerLink="/stat">Stat</a></li>
    </ul>

    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" placeholder="Rechercher un module" class="form-control">
      </div>
    </form>

  </div>
</header>

<div class="content">
  <router-outlet></router-outlet>
</div>
