<section class="container-fluid">

  <div class="col-md-6">
    <article class="panel panel-default">
      <div class="panel-heading">
        Chart 1
      </div>
      <div class="panel-body">
        <div [ng2-highcharts]="options" class="graph"></div>
      </div>
    </article>
  </div>

  <div class="col-md-6">
    <article class="panel panel-default">
      <div class="panel-heading">
        Chart 2
      </div>
      <div class="panel-body">
        <div [ng2-highcharts]="options" class="graph"></div>
      </div>
    </article>
  </div>

  <div class="col-md-6">
    <article class="panel panel-default">
      <div class="panel-heading">
        Chart 3
      </div>
      <div class="panel-body">
        <div [ng2-highcharts]="options" class="graph"></div>
      </div>
    </article>
  </div>

  <div class="col-md-6">
    <article class="panel panel-default">
      <div class="panel-heading">
        Chart 4
      </div>
      <div class="panel-body">
        <div [ng2-highcharts]="options" class="graph"></div>
      </div>
    </article>
  </div>

</section>
